.main-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 30px;
  border-radius: 5px;
  font-size: 14px;
  border: 1px solid #cccccc;
}

.error {
  color: red;
  display: none;
}

.input-wrapper {
  margin-bottom: 12px;
}

input,
select,
textarea {
  width: 100%;
  padding: 9px;
  border: 1px solid #cccccc;
  border-radius: 5px;
}
select {
  color: #555555;
}
input:focus,
select:focus,
textarea:focus {
  outline: 1px solid #1681e6;
}
