.main-container {
  background-image: url("../images/boat.jpg");
  background-size: cover;
}

.main-form {
  max-width: 400px;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  padding: 30px;
  border-radius: 5px;
  font-size: 14px;
  margin-top: 65px;
}

fieldset {
  display: flex;
  align-items: center;
  border: none;
  margin: 0;
  padding: 0;
}
input,
select,
textarea {
  width: 100%;
  padding: 9px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  background-color: transparent;
  margin: 10px 0;
  color: #fff;
  font-family: "Nunito", sans-serif;
}
select {
  color: #555555;
}
input:focus,
select:focus,
textarea:focus {
  outline: 1px solid #ffffff;
}
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: none;
}
.icon {
  width: 50px;
  height: 50px;
  background: #fff;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 60px;
}
